#include <windows.h>

#include "buttons.h"
#include "menu.h"

LARGE_PANEL DIALOG LOADONCALL FIXED DISCARDABLE 6, 40, 308, 148
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Calculator"
MENU CALC_MENU
{
 CONTROL "-------- Free Version --------", MANTDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 20, 138, 12
 CONTROL "GAK", EXPODSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 248, 20, 43, 12
 CONTROL "-------- Free Version --------", C_MANTDSP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 100, 32, 138, 12
 CONTROL "GAK", C_EXPODSP, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 248, 32, 43, 12
 CONTROL "Large Panel", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 98, 8, 203, 40
 CONTROL "inv", INVDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 98, 2, 10, 8
 CONTROL "hyp", HYPDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 114, 2, 15, 8
 CONTROL "M", MEMDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 130, 2, 7, 8
 CONTROL "S", STATDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 2, 7, 8
 CONTROL "K", CNSTDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 148, 2, 7, 8
 CONTROL "Deg", TRGDISP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 157, 2, 15, 8
 CONTROL "Dez", RADIXDSP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 2, 15, 8
 CONTROL "Float", TYPEDISP, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 196, 2, 49, 8
 CONTROL "Inv", INVERS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 41, 20, 12
 CONTROL "Ran", RANDOM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 56, 20, 12
 CONTROL "Xin", XINPUT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 71, 20, 12
 CONTROL "hyp", HYPERBEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 86, 20, 12
 CONTROL "log", DECLOG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 101, 20, 12
 CONTROL "abs", ABSOLUTE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 116, 20, 12
 CONTROL "Min", MINP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 131, 20, 12
 CONTROL "Ex\xB2", SUMX2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 56, 20, 12
 CONTROL "dn", DN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 71, 20, 12
 CONTROL "sin", SINUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 86, 20, 12
 CONTROL "ln", NATLOG, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 101, 20, 12
 CONTROL "int", INTEGER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 116, 20, 12
 CONTROL "MR", MR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 131, 20, 12
 CONTROL "Ex", SUMX, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 56, 20, 12
 CONTROL "dn1", DNMIN1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 71, 20, 12
 CONTROL "cos", COSINUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 86, 20, 12
 CONTROL "1/x", REZIPROK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 101, 20, 12
 CONTROL "frc", FRAC, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 116, 20, 12
 CONTROL "M+", MPLUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 131, 20, 12
 CONTROL "n", NUMBER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 56, 20, 12
 CONTROL "d", MEDIUM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 71, 20, 12
 CONTROL "tan", TANGENS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 86, 20, 12
 CONTROL "sqr", SQRROOT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 101, 20, 12
 CONTROL "x!", FACULTAT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 116, 20, 12
 CONTROL "M-", MMINUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 74, 131, 20, 12
 CONTROL "Flt", FLOATTYP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 56, 20, 12
 CONTROL "Byt", BYTETYPE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 71, 20, 12
 CONTROL "Wrd", WORDTYPE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 86, 20, 12
 CONTROL "Lng", LONGTYPE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 101, 20, 12
 CONTROL "Eng", ENGINEER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 97, 116, 20, 12
 CONTROL "X/M", SWAPXM, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 97, 131, 20, 12
 CONTROL "Bin", DUALSYS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 56, 20, 12
 CONTROL "Oct", OKTALSYS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 71, 20, 12
 CONTROL "Dec", DEZIMAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 86, 20, 12
 CONTROL "Hex", HEXSYS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 101, 20, 12
 CONTROL "xxx", ANGLE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 116, 20, 12
 CONTROL "X/Y", SWAPXY, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 131, 20, 12
 CONTROL "F", DIGITF, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 56, 20, 12
 CONTROL "E", DIGITE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 71, 20, 12
 CONTROL "D", DIGITD, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 86, 20, 12
 CONTROL "C", DIGITC, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 101, 20, 12
 CONTROL "B", DIGITB, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 117, 20, 12
 CONTROL "A", DIGITA, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 145, 131, 20, 12
 CONTROL "Rnd", ROUND, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 56, 20, 12
 CONTROL "[(", OPNBRACK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 71, 20, 12
 CONTROL "7", SEVEN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 86, 20, 12
 CONTROL "4", FOUR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 101, 20, 12
 CONTROL "1", ONE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 116, 20, 12
 CONTROL "0", ZERO, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 131, 20, 12
 CONTROL "Fix", FIXPOINT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 56, 20, 12
 CONTROL ")]", CLSBRACK, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 71, 20, 12
 CONTROL "8", EIGHT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 86, 20, 12
 CONTROL "5", FIVE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 101, 20, 12
 CONTROL "2", TWO, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 116, 20, 12
 CONTROL ".", POINT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 131, 20, 12
 CONTROL "Deg", DEGREE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 56, 20, 12
 CONTROL "C", CLEAR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 71, 20, 12
 CONTROL "9", NINE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 86, 20, 12
 CONTROL "6", SIX, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 101, 20, 12
 CONTROL "3", THREE, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 116, 20, 12
 CONTROL "Exp", EXPONENT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 131, 20, 12
 CONTROL "Rad", RADIAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 56, 20, 12
 CONTROL "Gra", GRADIAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 56, 20, 12
 CONTROL "AC", ALLCLR, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 71, 20, 12
 CONTROL "pow", POWER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 86, 20, 12
 CONTROL "rot", ROOTOPER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 86, 20, 12
 CONTROL "*", MULTIPLY, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 101, 20, 12
 CONTROL "/", DIVISION, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 101, 20, 12
 CONTROL "+", PLUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 116, 20, 12
 CONTROL "-", MINUS, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 260, 116, 20, 12
 CONTROL "\xB1", SIGN, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 131, 20, 12
 CONTROL "not", NOTFUNC, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 260, 131, 20, 12
 CONTROL "mod", MODULOOP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 283, 56, 20, 12
 CONTROL "and", ANDOPER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 283, 71, 20, 12
 CONTROL "xor", XOROPER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 283, 86, 20, 12
 CONTROL "or", OROPER, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_TABSTOP, 283, 101, 20, 12
 CONTROL "=", EQUAL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 283, 116, 20, 27
 CONTROL "a b/c", FRACTION, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 71, 20, 12
}

SCIENTIFIC_PANEL DIALOG LOADONCALL FIXED 23, 32, 260, 147
CAPTION "Calculator"
MENU CALC_MENU
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
	CONTROL "-------- Free Version --------", MANTDSP, "STATIC", WS_CHILD | WS_VISIBLE, 112, 20, 91, 12
	CONTROL "GAK", EXPODSP, "STATIC", WS_CHILD | WS_VISIBLE, 222, 20, 27, 12
	CONTROL "Scientific Panel", -1, "BUTTON", BS_GROUPBOX, 108, 9, 145, 24
	CONTROL "Inv", INVDSP, "STATIC", SS_LEFT, 118, 1, 10, 8
	CONTROL "Hyp", HYPDSP, "STATIC", SS_LEFT, 133, 1, 15, 8
	CONTROL "M", MEMDSP, "STATIC", WS_CHILD | WS_VISIBLE, 148, 1, 7, 8
	CONTROL "S", STATDSP, "STATIC", WS_CHILD | WS_VISIBLE, 158, 1, 7, 8
	CONTROL "K", CNSTDSP, "STATIC", SS_LEFT, 166, 1, 7, 8
	CONTROL "Deg", TRGDISP, "STATIC", WS_CHILD | WS_VISIBLE, 173, 1, 15, 8
	CONTROL "Line", REGDSP, "STATIC", SS_LEFT | WS_GROUP, 192, 1, 23, 8
	CONTROL "Inv", INVERS, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 40, 20, 12
	CONTROL "Eng", ENGINEER, "BUTTON", BS_PUSHBUTTON | WS_DISABLED, 5, 55, 20, 12
	CONTROL "Xin", XINPUT, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 70, 20, 12
	CONTROL "Yin", YINPUT, "BUTTON", BS_PUSHBUTTON, 5, 85, 20, 12
	CONTROL "k", CONSTVAL, "BUTTON", BS_PUSHBUTTON, 5, 100, 20, 12
	CONTROL "hyp", HYPERBEL, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 115, 20, 12
	CONTROL "log", DECLOG, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 130, 20, 12
	CONTROL "LR", LINEREG, "BUTTON", BS_PUSHBUTTON, 28, 40, 20, 12
	CONTROL "dn", DN, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 55, 20, 12
	CONTROL "Ex²", SUMX2, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 70, 20, 12
	CONTROL "Ey²", SUMY2, "BUTTON", BS_PUSHBUTTON, 28, 85, 20, 12
	CONTROL "m", REGKOEF, "BUTTON", BS_PUSHBUTTON, 28, 100, 20, 12
	CONTROL "sin", SINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 115, 20, 12
	CONTROL "ln", NATLOG, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 130, 20, 12
	CONTROL "LNR", LNREG, "BUTTON", BS_PUSHBUTTON, 51, 40, 20, 12
	CONTROL "dn1", DNMIN1, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 55, 20, 12
	CONTROL "Ex", SUMX, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 70, 20, 12
	CONTROL "Ey", SUMY, "BUTTON", BS_PUSHBUTTON, 51, 85, 20, 12
	CONTROL "r", KORKOEF, "BUTTON", BS_PUSHBUTTON, 51, 100, 20, 12
	CONTROL "cos", COSINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 115, 20, 12
	CONTROL "1/x", REZIPROK, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 130, 20, 12
	CONTROL "EXR", EXPOREG, "BUTTON", BS_PUSHBUTTON, 74, 40, 20, 12
	CONTROL "d", MEDIUM, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 55, 20, 12
	CONTROL "n", NUMBER, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 70, 20, 12
	CONTROL "Exy", SUMXY, "BUTTON", BS_PUSHBUTTON, 74, 85, 20, 12
	CONTROL "BST", BESTMTCH, "BUTTON", BS_PUSHBUTTON, 74, 100, 20, 12
	CONTROL "tan", TANGENS, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 115, 20, 12
	CONTROL "x!", FACULTAT, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 130, 20, 12
	CONTROL "PR", POWEREG, "BUTTON", BS_PUSHBUTTON, 97, 40, 20, 12
	CONTROL "Ran", RANDOM, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 55, 20, 12
	CONTROL "X", XOUT, "BUTTON", BS_PUSHBUTTON, 97, 70, 20, 12
	CONTROL "Y", YOUT, "BUTTON", BS_PUSHBUTTON, 97, 85, 20, 12
	CONTROL "deg", ANGLE, "BUTTON", BS_PUSHBUTTON, 97, 100, 20, 12
	CONTROL "sqr", SQRROOT, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 115, 20, 12
	CONTROL "BK", BINOM, "BUTTON", BS_PUSHBUTTON, 97, 130, 20, 12
	CONTROL "abs", ABSOLUTE, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 55, 20, 12
	CONTROL "[(", OPNBRACK, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 70, 20, 12
	CONTROL "7", SEVEN, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 85, 20, 12
	CONTROL "4", FOUR, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 100, 20, 12
	CONTROL "1", ONE, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 115, 20, 12
	CONTROL "0", ZERO, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 130, 20, 12
	CONTROL "int", INTEGER, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 55, 20, 12
	CONTROL ")]", CLSBRACK, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 70, 20, 12
	CONTROL "8", EIGHT, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 85, 20, 12
	CONTROL "5", FIVE, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 100, 20, 12
	CONTROL "2", TWO, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 115, 20, 12
	CONTROL ".", POINT, "BUTTON", WS_CHILD | WS_VISIBLE, 143, 130, 20, 12
	CONTROL "frc", FRAC, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 55, 20, 12
	CONTROL "C", CLEAR, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 70, 20, 12
	CONTROL "9", NINE, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 85, 20, 12
	CONTROL "6", SIX, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 100, 20, 12
	CONTROL "3", THREE, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 115, 20, 12
	CONTROL "Exp", EXPONENT, "BUTTON", WS_CHILD | WS_VISIBLE, 166, 130, 20, 12
	CONTROL "Deg", DEGREE, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 40, 20, 12
	CONTROL "Rnd", ROUND, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 55, 20, 12
	CONTROL "AC", ALLCLR, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 70, 43, 12
	CONTROL "pow", POWER, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 85, 20, 12
	CONTROL "*", MULTIPLY, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 100, 20, 12
	CONTROL "+", PLUS, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 115, 20, 12
	CONTROL "±", SIGN, "BUTTON", WS_CHILD | WS_VISIBLE, 189, 130, 20, 12
	CONTROL "Rad", RADIAL, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 40, 20, 12
	CONTROL "Fix", FIXPOINT, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 55, 20, 12
	CONTROL "rot", ROOTOPER, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 85, 20, 12
	CONTROL "/", DIVISION, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 100, 20, 12
	CONTROL "-", MINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 115, 20, 12
	CONTROL "=", EQUAL, "BUTTON", WS_CHILD | WS_VISIBLE, 212, 130, 20, 12
	CONTROL "Gra", GRADIAL, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 40, 20, 12
	CONTROL "Min", MINP, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 55, 20, 12
	CONTROL "MR", MR, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 70, 20, 12
	CONTROL "M+", MPLUS, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 85, 20, 12
	CONTROL "M-", MMINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 100, 20, 12
	CONTROL "X/M", SWAPXM, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 115, 20, 12
	CONTROL "X/Y", SWAPXY, "BUTTON", WS_CHILD | WS_VISIBLE, 235, 130, 20, 12
END

COMPUTER_PANEL DIALOG LOADONCALL FIXED DISCARDABLE 57, 38, 191, 147
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Calculator"
MENU CALC_MENU
{
 LTEXT "-------- Free Version --------", MANTDSP, 6, 20, 120, 12, WS_CHILD | WS_VISIBLE
 LTEXT "GAK", EXPODSP, 137, 20, 43, 12, WS_CHILD | WS_VISIBLE
 GROUPBOX "Computer-Panel", -1, 5, 10, 181, 24, BS_GROUPBOX
 LTEXT "Inv", INVDSP, 5, 5, 10, 8, SS_LEFT
 LTEXT "M", MEMDSP, 18, 5, 7, 8, WS_CHILD | WS_VISIBLE
 LTEXT "K", CNSTDSP, 27, 5, 7, 8, SS_LEFT
 LTEXT "Dec", RADIXDSP, 37, 5, 15, 8, SS_LEFT
 LTEXT "Float", TYPEDISP, 56, 5, 49, 8, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Inv", INVERS, 5, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Byt", BYTETYPE, 5, 55, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Wrd", WORDTYPE, 5, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Lng", LONGTYPE, 5, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Flt", FLOATTYP, 5, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Bin", DUALSYS, 5, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Dec", DEZIMAL, 5, 130, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Fix", FIXPOINT, 28, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Rnd", ROUND, 28, 55, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "int", INTEGER, 28, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "frc", FRAC, 28, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "abs", ABSOLUTE, 28, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Oct", OKTALSYS, 28, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Hex", HEXSYS, 28, 130, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Min", MINP, 51, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "[(", OPNBRACK, 51, 55, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "7", SEVEN, 51, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "4", FOUR, 51, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "1", ONE, 51, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "0", ZERO, 51, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "A", DIGITA, 51, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "MR", MR, 74, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON ")]", CLSBRACK, 74, 55, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "8", EIGHT, 74, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "5", FIVE, 74, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "2", TWO, 74, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON ".", POINT, 74, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "B", DIGITB, 74, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "M+", MPLUS, 97, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "C", CLEAR, 97, 55, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "9", NINE, 97, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "6", SIX, 97, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "3", THREE, 97, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "Exp", EXPONENT, 97, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "C", DIGITC, 97, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "M-", MMINUS, 120, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "AC", ALLCLR, 120, 55, 43, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "X/M", SWAPXM, 143, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "pow", POWER, 120, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "rot", ROOTOPER, 143, 70, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "*", MULTIPLY, 120, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "/", DIVISION, 143, 85, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "+", PLUS, 120, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "-", MINUS, 143, 100, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "\xB1", SIGN, 120, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "not", NOTFUNC, 143, 115, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "D", DIGITD, 120, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "E", DIGITE, 143, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "X/Y", SWAPXY, 166, 40, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "mod", MODULOOP, 166, 55, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "and", ANDOPER, 166, 70, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "xor", XOROPER, 166, 85, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "or", OROPER, 166, 100, 20, 12, BS_PUSHBUTTON | WS_DISABLED
 PUSHBUTTON "=", EQUAL, 166, 115, 20, 12, WS_CHILD | WS_VISIBLE
 PUSHBUTTON "F", DIGITF, 166, 130, 20, 12, BS_PUSHBUTTON | WS_DISABLED
}

SMALL_PANEL DIALOG LOADONCALL FIXED 41, 44, 145, 131
CAPTION "Calculator"
MENU CALC_MENU
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
	CONTROL "-------- Free Version --------", MANTDSP, "STATIC", WS_CHILD | WS_VISIBLE, 10, 19, 98, 12
	CONTROL "GAK", EXPODSP, "STATIC", WS_CHILD | WS_VISIBLE, 113, 19, 25, 12
	CONTROL "Small Panel", -1, "BUTTON", BS_GROUPBOX, 5, 9, 135, 24
	CONTROL "M", MEMDSP, "STATIC", WS_CHILD | WS_VISIBLE, 40, 3, 7, 8
	CONTROL "K", CNSTDSP, "STATIC", SS_LEFT, 50, 3, 7, 8
	CONTROL "Min", MINP, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 54, 20, 12
	CONTROL "MR", MR, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 69, 20, 12
	CONTROL "M+", MPLUS, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 84, 20, 12
	CONTROL "M-", MMINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 99, 20, 12
	CONTROL "X/M", SWAPXM, "BUTTON", WS_CHILD | WS_VISIBLE, 5, 114, 20, 12
	CONTROL "[(", OPNBRACK, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 54, 20, 12
	CONTROL "7", SEVEN, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 69, 20, 12
	CONTROL "4", FOUR, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 84, 20, 12
	CONTROL "1", ONE, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 99, 20, 12
	CONTROL "0", ZERO, "BUTTON", WS_CHILD | WS_VISIBLE, 28, 114, 20, 12
	CONTROL ")]", CLSBRACK, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 54, 20, 12
	CONTROL "8", EIGHT, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 69, 20, 12
	CONTROL "5", FIVE, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 84, 20, 12
	CONTROL "2", TWO, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 99, 20, 12
	CONTROL ".", POINT, "BUTTON", WS_CHILD | WS_VISIBLE, 51, 114, 20, 12
	CONTROL "Rnd", ROUND, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 39, 20, 12
	CONTROL "C", CLEAR, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 54, 20, 12
	CONTROL "9", NINE, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 69, 20, 12
	CONTROL "6", SIX, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 84, 20, 12
	CONTROL "3", THREE, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 99, 20, 12
	CONTROL "Exp", EXPONENT, "BUTTON", WS_CHILD | WS_VISIBLE, 74, 114, 20, 12
	CONTROL "Fix", FIXPOINT, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 39, 20, 12
	CONTROL "AC", ALLCLR, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 54, 43, 12
	CONTROL "pow", POWER, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 69, 20, 12
	CONTROL "*", MULTIPLY, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 84, 20, 12
	CONTROL "+", PLUS, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 99, 20, 12
	CONTROL "±", SIGN, "BUTTON", WS_CHILD | WS_VISIBLE, 97, 114, 20, 12
	CONTROL "X/Y", SWAPXY, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 39, 20, 12
	CONTROL "rot", ROOTOPER, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 69, 20, 12
	CONTROL "/", DIVISION, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 84, 20, 12
	CONTROL "-", MINUS, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 99, 20, 12
	CONTROL "=", EQUAL, "BUTTON", WS_CHILD | WS_VISIBLE, 120, 114, 20, 12
END

ACCEL ACCELERATORS 
BEGIN
	"0", ZERO, ASCII, NOINVERT
	"1", ONE, ASCII, NOINVERT
	"2", TWO, ASCII, NOINVERT
	"3", THREE, ASCII, NOINVERT
	"4", FOUR, ASCII, NOINVERT
	"5", FIVE, ASCII, NOINVERT
	"6", SIX, ASCII, NOINVERT
	"7", SEVEN, ASCII, NOINVERT
	"8", EIGHT, ASCII, NOINVERT
	"9", NINE, ASCII, NOINVERT
	"a", DIGITA, ASCII, NOINVERT
	"A", DIGITA, ASCII, NOINVERT
	"b", DIGITB, ASCII, NOINVERT
	"B", DIGITB, ASCII, NOINVERT
	"c", DIGITC, ASCII, NOINVERT
	"C", DIGITC, ASCII, NOINVERT
	"d", DIGITD, ASCII, NOINVERT
	"D", DIGITD, ASCII, NOINVERT
	"e", DIGITE, ASCII, NOINVERT
	"E", DIGITE, ASCII, NOINVERT
	"f", DIGITF, ASCII, NOINVERT
	"F", DIGITF, ASCII, NOINVERT
	"+", PLUS, ASCII, NOINVERT
	"-", MINUS, ASCII, NOINVERT
	"*", MULTIPLY, ASCII, NOINVERT
	"/", DIVISION, ASCII, NOINVERT
	".", POINT, ASCII, NOINVERT
	",", POINT, ASCII, NOINVERT
	VK_TAB, EXPONENT, VIRTKEY, NOINVERT
	VK_RETURN, EQUAL, VIRTKEY, NOINVERT
	"^H", CLEAR, ASCII, NOINVERT
	VK_ESCAPE, ALLCLR, VIRTKEY, NOINVERT
	"(", OPNBRACK, ASCII, NOINVERT
	")", CLSBRACK, ASCII, NOINVERT
	"%", MODULOOP, ASCII, NOINVERT
	"&", ANDOPER, ASCII, NOINVERT
	"<", OROPER, ASCII, NOINVERT, ALT
	"#", XOROPER
	"+", NOTFUNC, ASCII, NOINVERT, ALT
	"n", NUMBER, ASCII, NOINVERT
	"N", NUMBER, ASCII, NOINVERT
	"!", FACULTAT, ASCII, NOINVERT
	"x", XINPUT, ASCII, NOINVERT
	"X", XINPUT, ASCII, NOINVERT
	"y", YINPUT, ASCII, NOINVERT
	"Y", YINPUT, ASCII, NOINVERT
	VK_INSERT, COPY, VIRTKEY, CONTROL
	VK_INSERT, PASTE, VIRTKEY, SHIFT
END

ABAKUS ICON "abakus.ico"


CALC_ICON ICON "calc.ico"


CALC_MENU MENU 
{
 POPUP "&Edit"
 {
  MENUITEM "&Copy    Ctrl+Ins", COPY
  MENUITEM "&Paste   Shift+Ins", PASTE
  MENUITEM SEPARATOR
  MENUITEM "&Quit", QUIT
 }

 POPUP "&Panel"
 {
  MENUITEM "&Large", LARGEPAN
  MENUITEM "&Scientific", SNCEPAN
  MENUITEM "&Computer", COMPPAN
  MENUITEM "S&mall", SMALLPAN
 }

 POPUP "&Help"
 {
  MENUITEM "Contents", MENU_CONTENTS
  MENUITEM SEPARATOR
  MENUITEM "Menu", MENU_HELP
  MENUITEM "Windows", PANEL_HELP
  MENUITEM "Buttons", BUTTON_HELP
  MENUITEM "Keyboard", KEYS_HELP
  MENUITEM SEPARATOR
  MENUITEM "About &Calculator...", ABOUT
 }

}

1 VERSIONINFO 
FILEVERSION 1, 6, 0, 0
PRODUCTVERSION 1, 6, 0, 0
FILETYPE VFT_APP
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Martin Gäckler\000"
   VALUE "FileDescription", "Windows Calculator\000"
   VALUE "FileVersion", "1.6\000"
   VALUE "InternalName", "WinCalc\000"
   VALUE "LegalCopyright", "© 1991-2024 Martin Gäckler\000"
   VALUE "OriginalFilename", "calc.exe\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 0x409, 1252
 }

}
